[submodule "Src/Lib/PushSharp"]
	path = Src/Lib/PushSharp
	url = git@github.com:Redth/PushSharp.git
[submodule "Src/Lib/Newtonsoft.Json"]
	path = Src/Lib/Newtonsoft.Json
	url = git@github.com:JamesNK/Newtonsoft.Json.git
[submodule "Src/Lib/SignalR"]
	path = Src/Lib/SignalR
	url = git@github.com:SignalR/SignalR.git
[submodule "Src/Lib/RestSharp"]
	path = Src/Lib/RestSharp
	url = git@github.com:restsharp/RestSharp.git
